<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <title></title>
    <style>
        body,h1,h2,h3,h4,h5,h6 {
            font-family: Roboto, sans-serif;
        }
        li{
            padding: 20px;
        }

        .head h1{
            margin-left: 20px;
        }

        .head-text{
            margin-top: 20px;
            margin-left: 20px;
        }

        footer{
           background-color:rgba(33,37,41,255);
        }

        .container{
            max-width: 500px;
            text-align: center;
            margin-top: 5%;
        }

      
    </style>
</head>
<body>
    <div class="head">

        <nav class="navbar navbar-dark bg-dark">
            <h1 class="text-light">Pizarra</h1>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-light" href="{% url 'logout' %}">Logout</a>
                </li>
                
            </ul>
        </nav>

    </div>
    <div class="head-text">
        <h4 class="text-dark text-start">Add Projects</h4>
    </div>
    <hr>
    <div class="container">
        <form method="POST" action="{% url 'add-projects' %}" autocomplete="off">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="project name" placeholder="Project Name" required>
            </div>
            <div   class="mb-3">
                <input type="text" class="form-control" name="project head" placeholder="Project Head" required>
            </div>
            <div   class="mb-3">
                <input type="date" class="form-control" name="project startdate" placeholder="Project Startdate" required>
            </div>
            <div   class="mb-3">
                <input type="date" class="form-control" name="project enddate" placeholder="Project enddate" required>
            </div>
            <div   class="mb-3">
                <input type="text" class="form-control" name="project members" placeholder="Project Members" required>
            </div>
            <div   class="mb-3">
                <input type="text" class="form-control" name="status" placeholder="Status" required>
            </div>
            <div  id="btn-login" class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">ADD</button>
              </div>


        </form>

    </div>

    <footer class="fixed-bottom">
        <div class="row justify-content-center">
            <p class="text-center text-light mt-3">Copyrights (C) 2024 - <u>www.Pizarra.com</u></p>     
        </div>
    </footer>

    
</body>
</html>